/* 字体 */
@font-face {
  font-family: 'ZhuZiAWan';
  /* 字体名自定义即可 */
  src: url('https://cdn.andyzheng.cc/font/ZhuZiAWan.woff2');
  /* 字体文件路径 */
  font-display: swap;
}

:root {
  --az-theme: #6f42c1;
  --az-blog-bg: #f7f9fe;
  --az-border: #e3e3e3;
  --az-white: #fff;
  --az-xq: #A59ACA;
  --az-zll: #5F479A;
  --az-theme-light: rgba(111, 66, 193, .2);
  --az-bd-rd: 6px;
  --az-l-txt-nm: #444;
  --az-l-txt-my-bg: #444;
  --az-l-txt-my-cl: #fff;
  --az-l-txt-tm: #666;
  --az-strong-bg: #55585a;
  --tk-content-bg: rgba(245, 245, 245, .8);
  --fr-ft-cl: #6a737d;
}

[data-theme=dark] {
  --az-theme: #6f42c1;
  --az-blog-bg: #18181e;
  --az-border: #444444;
  --scrollbar-color: var(--az-border);
  --az-l-txt-nm: #ddd;
  --az-l-txt-my-bg: #A59ACA;
  --az-l-txt-my-cl: #444;
  --az-l-txt-tm: #999;
  --tk-content-bg: rgba(40, 40, 40, .6);
  --fr-ft-cl: #F7F7FA;
}

body {
  background-color: var(--az-blog-bg) !important;
  font-family: ZhuZiAWan, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

/* header */
#page-header.not-top-img #nav {
  border-bottom: 1px solid var(--az-border);
  box-shadow: none !important;
}

/* 公告图标 */
.card-announcement .item-headline i {
  color: var(--font-color) !important;
}

/* 阅读模式 */
.read-mode #post {
  background: var(--card-bg);
}

/* 导航 */
#nav .menus_items .menus_item .menus_item_child li:hover {
  background-color: var(--az-theme) !important;
}

#nav .menus_items .menus_item .menus_item_child li:hover a {
  color: var(--az-white) !important;
}

/* 文章列表 */
#recent-posts>.recent-post-item {
  height: 13em;
}

#recent-posts>.recent-post-item .post_cover {
  width: 230px;
}

#recent-posts>.recent-post-item>.recent-post-info {
  width: initial;
  flex: 1;
}

/* 文章  */
.layout>div:first-child:not(.recent-posts) {
  padding: 1rem 2.5rem;
}

#article-container a {
  color: var(--az-theme) !important;
}

#article-container p {
  margin-bottom: 10px;
}

#article-container figure.highlight {
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 14px 0 14px;
  color: var(--text-highlight-color);
  font-weight: bold;
}

#article-container img {
  margin: 0 auto;
}

#post .post-copyright {
  border-color: var(--az-border);
}

/* footer */
#footer {
  border-top: 1px solid var(--az-border);
  background-color: var(--az-blog-bg) !important;
}

#footer-wrap,
#footer-wrap a {
  color: var(--font-color);
}

/* aside */
@media screen and (min-width: 900px) {
  #aside-content .sticky_layout {
    top: 15px;
  }
}

#aside-content .card-widget {
  margin-top: 15px;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--az-white);
}

/* twikoo */
#twikoo .tk-replies .tk-content {
  padding: 14px 18px 0 !important;
}

#twikoo a {
  color: var(--az-theme);
  text-decoration: underline;
}

.tk-nick {
  color: var(--az-theme) !important;
  font-size: 1rem !important;
  line-height: 32px;
  margin-right: 4px;
  text-decoration: none !important;
}

.tk-meta {
  display: flex;
  align-items: center;
}

.tk-tag-green {
  margin: 0 4px 0 0;
  background-color: #ffa53c !important;
  color: var(--az-white) !important;
  border-color: #ffa53c !important;
  padding: 0 .4em !important;
  border-radius: 4px !important;
}

.tk-input .el-textarea__inner {
  min-height: 120px !important;
}

.tk-extras {
  margin-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.tk-extras .tk-extra {
  border: 1px solid var(--az-border);
  padding: 6px;
  border-radius: 4px;
  margin-right: 6px !important;
}

.tk-replies>.tk-comment {
  border-top: 1px dashed var(--az-border);
  padding-top: 0.7rem;
  margin-top: 4px;
}

#twikoo .tk-content {
  background: var(--tk-content-bg);
  padding: 0 18px;
  border-radius: 10px;
}

.tk-icon.__comments,
.tk-action-icon,
.tk-action-count {
  color: var(--az-theme) !important;
  cursor: pointer !important;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
  border-color: var(--az-theme) !important;
}

.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover {
  color: var(--az-theme) !important;
  border-color: var(--az-theme) !important;
  background-color: var(--az-theme-light) !important;
}

.el-button--text {
  color: var(--az-white) !important;
}

.el-button--primary {
  background-color: var(--az-theme) !important;
  border-color: var(--az-theme) !important;
}

.tk-expand {
  border: 1px solid var(--az-border);
  border-radius: 10px;
  margin-top: 12px;
  box-sizing: border-box;
}

.tk-expand:hover {
  background: var(--az-theme) !important;
  color: var(--az-white);
}

.tk-admin {
  background: rgba(0, 0, 0, 0.80) !important;
}

.tk-panel .tk-content {
  color: var(--font-color);
}

.tk-pagination-pager.__current {
  background-color: var(--az-theme) !important;
}

.tk-admin-container {
  position: fixed !important;
  z-index: 1000;
}