.busuanzi {
  display: flex;
  width: 250px;
  margin: 0 auto;

  .busuanzi__item {
    padding: .125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .busuanzi__item--label {
      font-size: 12.8px;
      padding: .125rem 0;
      font-style: italic;
    }

    .busuanzi__item--number {
      font-size: 16.8px;
      font-weight: 700;
    }
  }
}